footer {
  font-size: 12px;
  width: 100vw;
  height: 90px;
  background-color: $bg_color_primary;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 2px solid $bg_color_secondary;
  z-index: 999;
  @include display-flex(center, center, row);
  ul {
    @include display-flex(center, center, row);
    li {
      padding: 6px;
      list-style-type: none;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

}
