header {
  width: 100vw;
  height: 90px;
  background-color: $bg_color_primary;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 2px solid $bg_color_secondary;
  z-index: 999;
  @include display-flex(center, center, row);
  .header-box-img {
    width: 70px;
    height: 100%;
    &:hover {
      transform: scale(1.05);

    }
    img {
      width: 100%;

    }
  }
}
